body {
    background: #fff;
    font-size: 12px;
}
.main-wrapper {
    position: absolute;
    width: 100%;
    max-height: 28px;
}
/** header */

.main-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    z-index: 100;
    background: #e04628;
}
.header-wrapper {
    position: absolute;
    width: 100%;
    height: 28px;
    background: #f5f5f5 no-repeat;
}
.main-menu {
    position: relative;
    margin: 0 auto;
    width: 1024px;
}
/** main link  */

.main-links {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 2px;
}
.main-links li {
    position: relative;
    float: left;
    background: url(../../images/icloud/style/i4.png) 0 50% no-repeat;
    padding: 7px 10px;
    margin-right: 2px;
    z-index: 2;
}
.main-links .first {
    background: none;
}
.main-links a {
    color: #6d6d6d;
}
.main-links a:hover {
    text-decoration: none;
    color: #e52c48;
}
/** logo **/

.logo {
    top: 30px;
    position: absolute;
    width: 110px;
    height: 46px;
    display: block;
    background: url(../../images/icloud/landing_logo.png) no-repeat;
}
.logo h1 {
    display: none;
}
/** main-nav */

.main-nav {
    height: 40px;
    line-height: 45px;
    position: absolute;
    top: 30px;
    left: 155px;
}
.main-nav li {
    width: 90px;
    float: left;
    margin-right: 5px;
}
.main-nav .first {
    background: none;
}
.main-nav a {
    width: 94px;
    display: block;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 1;
    font-weight: 700;
}
.main-nav a:hover {
    text-decoration: none;
    background-color: #c53418;
    color: #fff;
    font-weight: bold;
}
.main-nav .active a {
    background-color: #c53418;
    position: relative;
    z-index: 1;
    font-weight: bold;
    color: #fff;
}
.search {
    width: 240px;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 30px;
}
.search .quick-search {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    width: 230px;
    margin-top: 7px;
    padding: 3px 0 3px 10px;
    height: 25px;
    font: 18px/22px arial;
    outline: 0;
    background: #fff;
    outline: 0;
    -webkit-appearance: none;
}
.search .icon {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 0;
}
.search span.icon {
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 6px;
    cursor: pointer;
}
.search .icon i {
    background: url('../../images/icloud/style/icon_search.png') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
}
/** main body */

.main-body {
    top: 82px;
    width: 1024px;
    margin: 10px auto;
    height: auto;
    min-height: 350px;
    position: relative;
}
.clear {
    both: clear;
}
/* main footer */

.main-footer {
    clear: both;
    color: #969696;
    background-color: #f5f5f5;
    height: 80px;
    border-top: 1px solid #CACACA;
    margin-top: 85px;
}
.main-footer center {
    margin-top: 10px;
}
.main-footer a {
    color: inherit;
}
.main-footer a:hover {
    text-decoration: none;
    color: #e52c48;
}
.main-footer .bar {
    margin: 0 5px;
}
/* 用户登录进去的空间  */

.arrow-down {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 7px;
    height: 4px;
    background: url(../../images/icloud/style/i3.png) no-repeat;
}
/** hyper-link */

.hyper-link {
    line-height: 14px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-right: 20px;
    position: relative;
}
.hyper-link:hover .hyper-text {
    display: block;
}
.hyper-link:hover .arrow-down {
    z-index: 4;
    background-position: 0 -4px;
}
.hyper-link:hover u {
    position: relative;
    z-index: 4;
    color: #6d6d6d;
}
.hyper-text {
    padding-top: 25px;
    color: #6d6d6d;
    top: -8px;
    left: -15px;
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    border-top: 2px solid #78d3fa;
    background-color: #fff;
    box-shadow: 0 2px 3px 0px #ccc;
    white-space: nowrap;
    z-index: 3;
    width:100%;
}
.hyper-link u {
    color: #6d6d6d;
}
.hyper-text a {
    display: block;
    padding: 8px 15px;
}
.hyper-text a:hover {
    text-decoration: none;
    background-color: #F2F2F2;
    color: #e52c48;
}
/** back to top **/

.backToTop {
    position: fixed;
    right: 0;
    bottom: 60px;
    background-image: url(../../images/icloud/style/backtotop.png) !important;
    background-position: center 8px !important;
    background-repeat: no-repeat;
    color: #777;
    width: 80px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 25px;
    font-size: 14px;
    cursor: pointer;
    height: auto;
}
.backToTop:hover {
    background-color: #c6c6c6;
    color: #777;
    text-decoration: none;
}
/** 公司介绍 */

.au-title {
    font-size: 14px;
    font-weight: bold;
    color: #505050;
    border-bottom: 1px solid #E1E1E1;
    padding: 10px 5px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 17px;
}
.au-title span {
    float: left;
    height: 26px;
    padding-right: 10px;
    border-bottom: 2px solid #f1634c;
}
.au-block {
    color: #333333;
    padding-top: 20px;
}
.au-block p {
    line-height: 30px;
    text-indent: 2em;
}
/** util */

s,
u {
    text-decoration: none;
}
.hidetext {
    white-space: nowrap;
    text-indent: 100%;
    *text-indent: 0;
    *line-height: 100em;
    overflow: hidden;
}
hr {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
}
input {
    color: #666;
}
/** 加载模块 **/

.loading {
    color: #666666;
    background: url(../../images/icloud/style/loading.gif) no-repeat 5px 50%;
}
.loading,
.pass,
.warn,
.error,
.unrecognize {
    padding: 20px 20px 20px 50px;
    /*font-weight: bold;*/
    font-size: 14px;
    background-color: #ffffff;
}
/**进度条**/

#loader_container {
    text-align: center;
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
}
#loader {
    font-family: Tahoma, Helvetica, sans;
    font-size: 11.5px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px 0 16px 0;
    margin: 0 auto;
    display: block;
    width: 250px;
    border: 1px solid #5a667b;
    text-align: left;
    z-index: 2;
}
strong,
b {
    font-weight: bold;
}
/* 通用button*/
.adaptiveButton{display:inline-block;vertical-align:middle; cursor:pointer;}
.adaptiveButton:hover{ text-decoration:none;}
.adaptiveButton .center{padding: 0 30px; color:#ffffff;}
.adaptiveButton .center_1{padding:0 20px;}
.adaptiveButton .center_2{padding:0 10px;}
.brightRed_btn  span,.bigDisabled_btn span{float:left; height:35px; line-height:35px;}
.brightRed_btn .left{background:url('../../images/icloud/big_btn.png') 0 0 no-repeat;width:5px}
.brightRed_btn .center{background:url("../../images/icloud/big_btn.png") 0 -40px repeat-x;}
.brightRed_btn .right{background:url('../../images/icloud/big_btn.png') 0 -80px no-repeat;width:5px}
.brightRed_btn:hover .left{background:url('../../images/icloud/big_btn.png') 0 -120px no-repeat;}
.brightRed_btn:hover .center{background:url("../../images/icloud/big_btn.png") 0 -160px repeat-x;}
.brightRed_btn:hover .right{background:url('../../images/icloud/big_btn.png') 0 -200px no-repeat;}

.brightRed_btn.medium  span{float:left; height:31px; line-height:31px;}
.brightRed_btn.medium .left{background:url('../../images/icloud/medium_btn.png') 0 -82px no-repeat;width:3px}
.brightRed_btn.medium .center{background:url("../../images/icloud/medium_btn.png") 0 0 repeat-x;}
.brightRed_btn.medium .right{background:url('../../images/icloud/medium_btn.png') 0 -41px no-repeat;width:3px}
.brightRed_btn.medium  span{float:left; height:30px; line-height:30px;}
.brightRed_btn.medium .left{background:url('../../images/icloud/medium_btn.png') 0 -80px no-repeat;width:3px}
.brightRed_btn.medium .center{background:url("../../images/icloud/medium_btn.png") 0 0 repeat-x;}
.brightRed_btn.medium .right{background:url('../../images/icloud/medium_btn.png') 0 -40px no-repeat;width:3px}
.brightRed_btn.medium:hover .left{background:url('../../images/icloud/medium_btn.png') 0 -200px no-repeat;}
.brightRed_btn.medium:hover .center{background:url("../../images/icloud/medium_btn.png") 0 -120px repeat-x;}
.brightRed_btn.medium:hover .right{background:url('../../images/icloud/medium_btn.png') 0 -160px no-repeat;}

.brightOrange_btn  span{float:left; height:35px; line-height:35px;}
.brightOrange_btn .left{background:url('../../images/icloud/big_btn.png') 0 -680px no-repeat;width:5px}
.brightOrange_btn .center{background:url("../../images/icloud/big_btn.png") 0 -720px repeat-x;}
.brightOrange_btn .right{background:url('../../images/icloud/big_btn.png') 0 -760px no-repeat;width:5px}
.brightOrange_btn:hover .left{background:url('../../images/icloud/big_btn.png') 0 -800px no-repeat;}
.brightOrange_btn:hover .center{background:url("../../images/icloud/big_btn.png") 0 -840px repeat-x;}
.brightOrange_btn:hover .right{background:url('../../images/icloud/big_btn.png') 0 -880px no-repeat;}

.mediumDisabled_btn  span{float:left; height:30px; line-height:30px;}

.mediumOrange_btn  span{float:left; height:30px; line-height:30px;}
.mediumOrange_btn .left{background:url('../../images/icloud/big_btn.png') 0 -240px no-repeat;width:5px}
.mediumOrange_btn .center{background:url("../../images/icloud/big_btn.png") 0 -275px repeat-x;}
.mediumOrange_btn .right{background:url('../../images/icloud/big_btn.png') 0 -310px no-repeat;width:5px}
.mediumOrange_btn:hover .left{background:url('../../images/icloud/big_btn.png') 0 -345px no-repeat;}
.mediumOrange_btn:hover .center{background:url("../../images/icloud/big_btn.png") 0 -380px repeat-x;}
.mediumOrange_btn:hover .right{background:url('../../images/icloud/big_btn.png') 0 -416px no-repeat;}

.bigDisabled_btn .left{background:url('../../images/icloud/big_btn.png') 0 -451px no-repeat;width:5px}
.bigDisabled_btn .center{background:url("../../images/icloud/big_btn.png") 0 -491px repeat-x;}
.bigDisabled_btn .right{background:url('../../images/icloud/big_btn.png') 0 -531px no-repeat;width:5px}

.mediumDisabled_btn .left{background:url('../../images/icloud/big_btn.png') 0 -571px no-repeat;width:5px}
.mediumDisabled_btn .center{background:url("../../images/icloud/big_btn.png") 0 -606px repeat-x;}
.mediumDisabled_btn .right{background:url('../../images/icloud/big_btn.png') 0 -641px no-repeat;width:5px}

/** pull right**/

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
/**process_step**/

.process_step {
    text-align: left;
    border-bottom: 2px solid #e1e1e1;
    color #e1e1e1;
    position: relative;
}
.process_step li {
    color: #c8c8c8;
    margin: 0 75px 0 0;
    display: block;
    float: left;
    position: relative;
    top: 2px;
}
.process_step .txt {
    padding: 5px 0;
    font-size: 16px;
    font-weight: bold;
}
.process_step .current {
    color: #4bae10;
    border-bottom: 2px solid #4bae10;
}
/** gray-border*/

.gray-border {
    border: 1px solid #bbb;
}
/** input */

input {
    color: #666;
}
.normal_txt,
.large_txt {
    border: 1px solid #bbb;
    line-height: 23px;
    height: 23px;
    font-size: 12px;
}
input[type=text] {
    text-indent: 3px;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 3px;
    vertical-align: text-bottom;
}
.currentState {
    background: #fff;
    border-top: 2px solid #f1634c;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #fff;
    margin: -1px 0 -1px -1px;
    font-weight: bold;
}
.currentState a {
    color: #f1634c;
}